language: node_js
node_js:
  - 0.10

branches:
  only:
    - master

env:
  global:
    - secure: ckul1NeOfQi13LxMvppoXzc/O08YEf2HqDbyE3dl2mgnjQVfB8ASRKSyvp6jZhKYEPX+WUwfdpHid8fGq3ESwTAUT41QF+HBUr7xdz6772m7Qm0nMJ94FaT7iL+2sR2O6WmqpWWktUSOkN4omI7xOv9b1MVHYiYPct965SM3SdI=
    - secure: gJlW/YbFeC7HAiFxH+M4Ia8BYP0n4PvLRT2bG5YgfFsRfF7yNkppCIt/cSxrl5SUhsT6UnArLVejP1nw6U6Pxu4KoOKdnWLnFjU2/qtU0IpEZDgex4u1wthxe37qd/fkNRq5U243c4N9UuY8YLJm0rDVYhxVsP1QQSymWThhis4=

before_install:
  # Add DataStax apt repo for Cassandra
  - curl -L http://debian.datastax.com/debian/repo_key | sudo apt-key add -
  - echo "deb http://debian.datastax.com/community stable main" | sudo tee -a /etc/apt/sources.list.d/dsc.sources.list

  # Add PPA repos for miscellaneous dependencies
  - echo 'yes' | sudo add-apt-repository ppa:oae/deps
  - echo 'yes' | sudo add-apt-repository ppa:coolwanglu/pdf2htmlex
  - sudo apt-get update

  # Install cassandra 1.2 manually
  - sudo apt-get install -y -o Dpkg::Options::=--force-confnew cassandra=1.2.16
  - sudo sed -i 's/-Xss180k/-Xss256k/g' /etc/cassandra/cassandra-env.sh
  - sudo sh -c "echo 'JVM_OPTS=\"\${JVM_OPTS} -Djava.net.preferIPv4Stack=false\"' >> /etc/cassandra/cassandra-env.sh"
  - sudo service cassandra stop
  - sudo service cassandra start
  - sudo service cassandra status

  # Install nginx
  - sudo apt-get install nginx

  # Turn off unneeded services to free some memory
  - sudo service mysql stop
  - sudo service memcached stop
  - sudo service postgresql stop

  # Install Hilary deps
  - sudo apt-get install -qq graphicsmagick libreoffice pdftk chrpath pdf2htmlex
  - npm install -g grunt-cli

  # avocet-ui dependencies
  # TODO: remove manual phantomjs install once grunt-casperjs comes with a supported version of it
  - wget https://phantomjs.googlecode.com/files/phantomjs-1.9.2-linux-i686.tar.bz2
  - tar xjf phantomjs-1.9.2-linux-i686.tar.bz2
  - sudo ln -fs pwd/phantomjs-1.9.2-linux-i686/bin/phantomjs /usr/local/bin/phantomjs
  - git clone git://github.com/n1k0/casperjs.git ./casperjs
  - cd casperjs
  - git checkout 1.1-beta3
  - sudo ln -sf `pwd`/bin/casperjs /usr/local/bin/casperjs

  # Show the CasperJS and PhantomJS version for debugging purposes
  - casperjs --version
  - phantomjs --version

  # Install etherpad-lite
  - sudo apt-get install etherpad-lite
  - cd /opt/etherpad
  - sudo touch APIKEY.txt
  - sudo chmod -R 777 .

  # Create a keyspace that we can start etherpad up into. There is a chicken-and-egg problem by having unit tests drop/create and have
  # etherpad be available, so we just create a separate keyspace for it
  - "echo \"CREATE KEYSPACE etherpad WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};\" > /tmp/.create_etherpad_keyspace.cql3"
  - cqlsh -3 -f /tmp/.create_etherpad_keyspace.cql3

  # Configure etherpad to talk to Cassandra
  - "sed -i 's/dbType\" : \"dirty/dbType\" : \"cassandra/g' settings.json"
  - "sed -i 's/\"filename\" : \"var\\/dirty.db\"/\"hosts\": [ \"localhost:9160\" ], \"keyspace\": \"etherpad\", \"cfName\": \"Etherpad\", \"user\": \"\", \"pass\": \"\", \"timeout\": 3000, \"replication\": \"1\", \"strategyClass\": \"SimpleStrategy\", \"cqlVersion\": \"2.0.0\"/g' settings.json"
  - "sed -i 's/defaultPadText\" : \".*\"/defaultPadText\" : \"\"/g' settings.json"

  - echo "13SirapH8t3kxUh5T5aqWXhXahMzoZRA" > APIKEY.txt
  - node src/node/server.js &> /dev/null &

  # Install Hilary
  - cd ~/build/CUL-DigitalServices
  - git clone  --branch master --depth=1 git://github.com/CUL-DigitalServices/avocet-hilary.git ./avocet-hilary
  - cd ./avocet-hilary
  - npm install --production
  - node app.js | node_modules/.bin/bunyan -l error &

  # Configure avocet-ui / nginx
  - cd ~/build/CUL-DigitalServices/avocet-ui
  - npm install
  - "echo '{\"NGINX_USER\": \"root\",\"NGINX_GROUP\": \"root\",\"NGINX_HOSTNAME\": \"admin.oae.com\",\"UX_HOME\": \"/home/travis/build/CUL-DigitalServices/avocet-ui\",\"LOCAL_FILE_STORAGE_DIRECTORY\": \"/home/travis/build/CUL-DigitalServices/files\"}' > nginx/nginx.json"
  - grunt configNginx
  - sudo cp ./target/optimized/nginx/nginx.conf /etc/nginx/nginx.conf
  - sudo mkdir /usr/share/nginx/logs
  - sudo service nginx start

  # Wait for Hilary to have started up to start the tests in "script" phase
  - ./tools/travis/checkHilaryStart.sh

addons:
  hosts:
    - cam.oae.com
    - admin.oae.com

services:
  - elasticsearch
  - rabbitmq
  - redis-server

after_success:
  # Package and upload to Amazon S3
  - etc/scripts/travis-upload.sh

notifications:
  irc: "irc.freenode.org#ucam-ds-oa"
