body {
  display: none;
}

.oa-header {
  background: #181818;
  margin-bottom: 30px;
  padding: 9px 0;

  .oa-main-title {
    padding: 0 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    margin-top: 7px;

    a {
      color: #C0C0C0;
    }
  }

  .container {
    position: relative;
  }
}

.oa-btn-login {
  float: right;
  position: relative;
}

.oa-page-header {
  margin-top: 0;
}

.oa-document-metadata {
  margin-top: 10px;
}

.oa-document-doc .well {
  min-height: 800px;
}

.oa-publication-info {
  margin-left: 25px;
}

footer {
  padding: 40px;
  text-align: center;
}
