/*!
 * Copyright 2014 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */

@import url('//fonts.googleapis.com/css?family=PT+Sans:400,700');

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', 'Myriad Pro', arial, helvetica, sans-serif;
    line-height: 1.5;
}

input,
button,
textarea,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/********************
 ** Helper classes **
 ********************/

.oa-icon-normal {
    font-size: 1em;
}

.oa-well {
    font-weight: bold;
}

/*************
 ** Buttons **
 *************/

.oa-btn-primary,
.oa-btn-secondary {
    font-size: 22px;
}

.oa-btn-primary i,
.oa-btn-secondary i {
    font-size: 1em;
}

/**************
 ** Nav tabs **
 **************/

.oa-nav-tabs {
    font-size: 18px;
}

/*************************
 ** Navigation back bar **
 *************************/

.oa-back-bar a {
    font-size: 18px;
}

/************************
 ** Highlighted panels **
 ************************/

.oa-panel-primary h2 {
    font-size: 40px;
}

.oa-panel-primary h2,
.oa-panel-primary h3 {
    font-weight: normal;
}

/**************
 ** Sections **
 **************/

.oa-section {
    font-size: 18px;
}

.oa-section h3,
.oa-section h4,
.oa-section h5 {
    font-weight: normal;
}

.oa-section h3 {
    font-size: 28px;
}

.oa-section h4 {
    font-size: 22px;
}

.oa-section h5 {
    font-size: 18px;
}

.oa-section dt,
.oa-section strong {
    font-weight: normal;
}

/*************
 ** Banners **
 *************/

.oa-home-banner .oa-btn-upload {
    font-size: 34px;
}

.oa-content-banner p,
.oa-content-banner ul {
    font-size: 22px;
}

/***********
 ** Forms **
 ***********/

.oa-form select {
    font-size: 18px;
}

.oa-form input[type="text"],
.oa-form input[type="email"],
.oa-form textarea {
    font-size: 21px;
}

/**************************
 ** File upload progress **
 **************************/

.oa-progress-size {
    font-size: 18px;
}

/************
 ** Modals **
 ************/

.oa-modal-body {
    font-size: 18px;
}

.oa-modal-header h4 {
    font-size: 28px;
}

.oa-modal-body h5 {
    font-size: 22px;
}

.oa-modal-header h4,
.oa-modal-body h5 {
    font-weight: normal;
}

.oa-modal-footer button {
    font-size: 16px;
}

.oa-modal-header button i {
    font-size: 28px;
}
