/*!
 * Copyright 2014 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */

/********************
 ** Primary button **
 ********************/

.oa-btn-primary,
.oa-section .oa-btn-primary {
    background-color: #CB4F00;
}

.oa-btn-primary,
.oa-btn-primary:active,
.oa-btn-primary:focus,
.oa-btn-primary:hover,
.oa-section .oa-btn-primary,
.oa-section .oa-btn-primary:active,
.oa-section .oa-btn-primary:focus,
.oa-section .oa-btn-primary:hover {
    color: #FFF;
}

.oa-btn-primary:active,
.oa-btn-primary:focus,
.oa-btn-primary:hover,
.oa-section .oa-btn-primary:active,
.oa-section .oa-btn-primary:focus,
.oa-section .oa-btn-primary:hover {
    background-color: #DB6E4C;
}

/**********************
 ** Secondary button **
 **********************/

.oa-btn-secondary,
.oa-section .oa-btn-secondary {
    background: #323232;
}

.oa-btn-secondary,
.oa-btn-secondary:active,
.oa-btn-secondary:focus,
.oa-btn-secondary:hover,
.oa-section .oa-btn-secondary,
.oa-section .oa-btn-secondary:active,
.oa-section .oa-btn-secondary:focus,
.oa-section .oa-btn-secondary:hover {
    color: #B7B7B7;
}

.oa-btn-secondary:active,
.oa-btn-secondary:focus,
.oa-btn-secondary:hover,
.oa-section .oa-btn-secondary:active,
.oa-section .oa-btn-secondary:focus,
.oa-section .oa-btn-secondary:hover {
    background-color: #424242;
}

/************************
 ** Highlighted panels **
 ************************/

/* Primary panel */
.oa-panel-primary,
.oa-panel-primary-color {
    background-color: #106470;
}

.oa-panel-primary,
.oa-panel-primary a,
.oa-panel-primary-color,
.oa-panel-primary-color a {
    color: #FFF;
}

/********************
 ** Neutral panels **
 ********************/

/* Neutral color 1 */
.oa-panel-neutral1 {
    background-color: #F9F9F9;
}

/* Neutral color 2 */
.oa-panel-neutral2 {
    background-color: #F3F6F6;
}

/************
 ** Modals **
 ************/

.oa-modal-body {
    background-color: #F9F9F9;
}

.oa-modal-body h5 {
    color: #106470;
}

.oa-modal-body p,
.oa-modal-body ul,
.oa-modal-body ol,
.oa-modal-header h4 {
    color: #575A5D;
}

.oa-modal-header {
    border-bottom-color: #ECEBEA;
}

.oa-modal-footer {
    border-top-color: #ECEBEA;
}

.oa-modal-footer,
.oa-modal-header {
    background-color: #F3F6F6;
}

/*****************
 ** Site header **
 *****************/

.oa-site-header {
    background: #171717;
}

.oa-site-header a,
.oa-site-header a:focus,
.oa-site-header a:hover,
.oa-site-header .oa-nav-item,
.oa-site-header button,
.oa-site-header button:active,
.oa-site-header button:focus,
.oa-site-header button:hover,
.oa-site-header p {
    color: #FFF;
}

.oa-site-header .oa-nav .oa-nav-item {
    border-bottom-color: transparent;
}

.oa-site-header .oa-nav {
    background: #F7F5F2;
    border-bottom-color: #C7C7C7;
}

.oa-site-header .oa-nav:not(.depth-1) .oa-nav-item {
    color: #323232;
}

.oa-site-header .oa-nav .oa-nav-item.active,
.oa-site-header .oa-nav .oa-nav-item.active-child,
.oa-site-header .oa-nav .oa-nav-item.viewed {
    border-bottom-color: #CBCBCB;
}

.oa-site-header .oa-nav:not(.depth-1) .oa-nav-item.viewed {
    border-bottom-color: #575A5D;
    color: #575A5D;
}

.oa-site-header .oa-nav-item a {
    color: inherit;
}

/* Back bar */
.oa-back-bar-container {
    background-color: #114F58;
}

.oa-back-bar a {
    color: #FFF;
}

/*****************
 ** Site footer **
 *****************/

.oa-site-footer,
.oa-site-footer a,
.oa-site-footer .oa-link,
.oa-site-footer .oa-link:hover,
.oa-site-footer .oa-link:focus {
    color: #F9F9F9;
}

/********************
 ** Section Colors **
 ********************/

/* Home section */
.oa-home-section {
    background-color: #FFF;
}

.oa-home-section:nth-child(odd) {
    background-color: #F9F9F9;
}

/* Content section */
.oa-content-section {
    background-color: #FFF;
}

.oa-content-section:nth-child(odd) {
    background-color: #F9F9F9;
}

/* Form section */
.oa-form-section {
    background-color: #FFF;
    border-bottom-color: #EEEDEC;
}

.oa-form-section:nth-child(odd) {
    background-color: #F9F9F9;
}

/* Form note */
.oa-form-section.oa-form-note {
    background-color: #F3F6F6;
}

/*****************
 ** Home banner **
 *****************/

.oa-home-banner h2 {
    color: #FFF;
}

.oa-home-banner .oa-btn-upload {
    background-color: #FFF;
    color: #CB4F00;
}

.oa-home-banner .oa-btn-upload:active,
.oa-home-banner .oa-btn-upload:focus,
.oa-home-banner .oa-btn-upload:hover {
    background: linear-gradient(to bottom, #FFF 0%, #E1E1E1 100%);
    color: #DB6E4C;
}

/**********************
 ** Publication form **
 **********************/

.oa-fileinfo {
    color: #575A5D;
}

.oa-form label {
    color: #575A5D;
}

.oa-form input[type="email"],
.oa-form input[type="text"],
.oa-form textarea {
    border-color: #C7C7C7;
}

/****************
 ** My uploads **
 ****************/

.oa-myuploads-upload,
.oa-myuploads-header {
    border-bottom-color: #EDEDEC;
}

.oa-myuploads-header h3 {
    color: #575A5D;
}

.oa-myuploads-metadata h4 a {
    color: #106470;
}

.oa-myuploads-metadata h4 a:focus,
.oa-myuploads-metadata h4 a:hover {
    color: #70A2A9;
}

.oa-myuploads-metadata span {
    color: #8E908F;
}

/*********************
 ** Navigation tabs **
 *********************/

.oa-nav-tabs-wrap {
    border-bottom-color: #e3e3e2;
}

.oa-nav-tabs li a {
    color: #575a5d;
    border-color: #e3e3e2;
}

.oa-nav-tab li a:hover {
    border-color: #e3e3e2;
    background-color: #e3e3e2;
}

.oa-nav-tabs > li.active > a,
.oa-nav-tabs > li.active > a:hover,
.oa-nav-tabs > li.active > a:focus {
    background: #F9F9F9;
    color: #575a5d;
}

.oa-tab-pane {
    background: #F9F9F9;
}

/******************
 ** Text colours **
 ******************/

 /* Headings */
.oa-heading,
.oa-section h3,
.oa-section h4,
.oa-section h5 {
    color: #106470;
}

/* Normal text */
.oa-section p,
.oa-section ul,
.oa-section ol,
.oa-section dl {
    color: #575a5d;
}

.oa-section strong {
    color: #575A5D;
}

/* Links */
.oa-link,
.oa-panel-primary .oa-link,
.oa-section a {
    color: #CB4F00;
}

.oa-link:focus,
.oa-link:hover,
.oa-panel-primary .oa-link:focus,
.oa-section a:focus,
.oa-section a:hover {
    color: #DB6E4C;
}

.oa-panel-primary .oa-link {
    color: #FFA167;
}

.oa-panel-primary .oa-link:focus,
.oa-panel-primary .oa-link:hover {
    color: #DB6E4C;
}

/* Well */
.oa-well {
    background-color: #F7F8FA;
    color: #DC9779;
}

/**************************************
 ** Widget Specific: publicationform **
 **************************************/

#oa-publicationform .tt-dropdown-menu {
    background-color: #FFF;
    border-color: rgba(0, 0, 0, 0.15);
}

#oa-publicationform .tt-suggestion {
    border-bottom-color: #E5E5E5;
    color: #333;
}

#oa-publicationform .tt-suggestion.tt-cursor {
    background-color: #106470;
}

#oa-publicationform .tt-suggestion.tt-cursor p,
#oa-publicationform .tt-suggestion.tt-cursor strong {
    color: #FFF;
}

#oa-publicationform .tt-hint {
    color: #999;
}

/****************************************
 ** Widget Specific: submitpublication **
 ****************************************/

#oa-submitpublication-upload-wrap {
    border-color: #DFE2E2;
}

#oa-submitpublication-upload #oa-submitpublication-upload-wrap.oa-dragover {
    background-color: #F3F6F6;
    border-color: #98B0B4;
}

#oa-submitpublication-upload-wrap p {
    color: #70A2A9;
}

#oa-submitpublication-upload-wrap.oa-dragover p {
    color: #106470;
}

#oa-submitpublication-upload-wrap .oa-link {
    color: #DB6E4C;
}

#oa-submitpublication-upload-wrap .oa-link:hover,
#oa-submitpublication-upload-wrap.oa-dragover .oa-link {
    color: #CB4F00;
}

#oa-submitpublication-welcome-container header {
    background-color: #F3F6F6;
    border-bottom-color: #EDECEB;
}

#oa-submitpublication-welcome-container .oa-submitpublication-btn-help {
    color: #106470;
}

#oa-submitpublication-welcome-container .oa-submitpublication-btn-help:active,
#oa-submitpublication-welcome-container .oa-submitpublication-btn-help:focus,
#oa-submitpublication-welcome-container .oa-submitpublication-btn-help:hover {
    color: #70A2A9;
}

#oa-submitpublication-upload-progress-container .oa-progress-bar {
    background-color: #70A2A9;
}
