/*!
 * Copyright 2014 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */

html,
body {
    height: 100%;
}

body {
    min-width: 960px;
    padding-left: 0;
    padding-right: 0;
}

/********************
 ** Helper classes **
 ********************/

.oa-link {
    background-color: transparent;
}

.oa-well {
    border-radius: 6px;
    margin: 20px 0 34px 0;
    padding: 15px;
}

.oa-no-margin,
.oa-section .oa-no-margin {
    margin: 0;
}

/*************
 ** Buttons **
 *************/

.btn {
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.oa-btn-primary,
.oa-btn-secondary {
    border-radius: 4px;
    padding: 17px 48px;
}

.oa-btn-secondary {
    padding: 13px;
}

.oa-btn-link {
    background: none;
    font: inherit;
}

.oa-btn-link:active {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.oa-inline-btn-link {
    margin-top: -3px;
    padding: 0;
}

/****************
 ** Containers **
 ****************/

.container {
    width: 960px;
}

.oa-main-container {
    min-height: 100%;
    position: relative;
}

.oa-home-container {
    padding: 0 190px;
}

.oa-content-container {
    max-width: 822px;
}

/************************
 ** Highlighted panels **
 ************************/

.oa-panel-primary {
    text-align: center;
}

.oa-panel-primary h2 {
    line-height: 1.25em;
}

/**************
 ** Sections **
 **************/

/* Base section styles */

.oa-section p,
.oa-section ul {
    margin: 30px 0 0 0;
}

.oa-section h3 {
    margin: 0 0 36px 0;
}

.oa-section h4 {
    margin: 40px 0 18px 0;
}

.oa-section header + p,
.oa-section header + ul {
    margin-top: 0;
}

.oa-section h5 {
    margin: 20px 0 0 0;
}

.oa-section img {
    padding: 20px;
}

/* Home section */

.oa-home-section {
    padding: 44px 0 56px 0;
    text-align: center;
}

.oa-home-section h3 {
    margin: 0 0 10px 0;
}

.oa-home-section .oa-btn-upload {
    margin-top: 25px;
}

/* Content section */

.oa-content-section {
    padding: 44px 0 56px 0;
}

/* Form section */

.oa-form-section {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0;
}

.oa-form-section:last-child {
    border-bottom: none;
}

.oa-form-section.oa-section p {
    margin: 30px 0;
}

.oa-form-section.oa-section p:last-child {
    margin-bottom: 40px;
}

.oa-form-section.oa-section h4 + p {
    margin-top: 0;
}

/*************
 ** Banners **
 *************/

/* Home banner */

.oa-home-banner {
    padding: 77px 0 115px 0;
}

.oa-home-banner h2 {
    margin: 0 auto 50px auto;
    max-width: 780px;
}

.oa-home-banner .oa-btn-upload {
    border-radius: 4px;
    padding: 16px 51px;
}

/* Content banner */

.oa-content-banner {
    margin: 0;
    padding: 55px 0;
    text-align: left;
}

.oa-content-banner p,
.oa-content-banner ul {
    margin: 24px 0;
}

.oa-content-banner p:last-child,
.oa-content-banner ul:last-child {
    margin-bottom: 0;
}

.oa-content-banner h2 {
    margin: 0 0 41px 0;
}

/***********
 ** Forms **
 ***********/

.oa-form input[type="text"],
.oa-form input[type="email"],
.oa-form textarea {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
}

.oa-form input[type="text"],
.oa-form input[type="email"] {
    height: 51px;
    padding: 0 8px;
}

.oa-form textarea {
    padding: 20px;
}

.oa-form .form-group {
    margin-bottom: 35px;
    margin-top: 35px;
}

/**************************
 ** File upload progress **
 **************************/

.oa-progress-size {
    margin-top: 10px;
    text-align: left;
}

/***************
 ** File info **
 ***************/

.oa-fileinfo {
    border-top-style: solid;
    border-top-width: 1px;
    padding: 48px 0;
}

.oa-fileinfo .container {
    background: url('/avocet/images/background-myuploads.png') no-repeat left center;
    min-height: 115px;
    padding-left: 130px;
}

/**********************
 ** Publication info **
 **********************/

.oa-publicationinfo {
    margin: 0;
    padding: 23px 0;
}

.oa-publicationinfo p {
    margin: 0;
}

/***********
 ** Modals **
 ***********/

.modal-backdrop.in {
    filter: alpha(opacity=60);
    opacity: .6;
}

.oa-modal {
    padding-top: 20px;
    width: 730px;
}

.oa-modal-header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
    padding: 27px 60px;
}

.oa-modal-content {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 6px 6px 49px rgba(0, 0, 0, .5);
       -moz-box-shadow: 6px 6px 49px rgba(0, 0, 0, .5);
            box-shadow: 6px 6px 49px rgba(0, 0, 0, .5);
}

.oa-modal-body {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 4px;
    padding: 30px 60px;
}

.oa-modal-body h5 {
    margin: 17px 0 27px 0;
}

.oa-modal-body h5:first-child {
    margin-top: 0;
}

.oa-modal-body p {
    line-height: 1.4em;
    margin-bottom: 29px;
}

.oa-modal-body p:last-child {
    margin: 0;
}

.oa-modal-footer {
    border-top-style: solid;
    border-top-width: 4px;
}

.oa-modal-footer {
    -webkit-border-radius: 0 0 3px 3px;
       -moz-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
    padding: 17px 60px;
}
