/*!
 * Copyright 2014 Digital Services, University of Cambridge Licensed
 * under the Educational Community License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 *     http://opensource.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS IS"
 * BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular'), url('/avocet/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Bold'), url('/avocet/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

input,
button,
textarea,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    height: 100%;
}

body {
    padding-left: 0;
    padding-right: 0;
    min-width: 960px;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', arial, helvetica, sans-serif;
    line-height: 1.5;
}

.btn {
    border: none;
    border-radius: 0;
}

.container {
    width: 960px;
}

.modal-backdrop.in {
    opacity: .6;
    filter: alpha(opacity=60);
}

.oa-btn-primary {
    border-radius: 8px / 25px;
    font-size: 22px;
    padding: 17px 48px;
}

.oa-link {
    background-color: transparent;
}

.oa-flex-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}

.oa-flex-vertical-center {
    -webkit-align-self: center;
            align-self: center;
}

.oa-main-container {
    min-height: 100%;
    position: relative;
}

.oa-well {
    border-radius: 6px;
    border-style: solid;
    border-width: 8px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

.oa-panel-primary {
    text-align: center;
}

.oa-panel-primary h2,
.oa-panel-primary h3 {
    font-weight: normal;
}

.oa-panel-primary h2 {
    font-size: 36px;
    line-height: 1.25em;
}

.oa-home-banner {
    padding: 77px 0 115px 0;
}

.oa-home-banner h2 {
    margin: 0 auto 50px auto;
    max-width: 780px;
}

.oa-home-banner .oa-btn-upload {
    border-radius: 15px / 25px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .25);
    font-size: 34px;
    font-weight: 700;
    padding: 22px 47px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.oa-no-margin,
.oa-section .oa-no-margin {
    margin: 0;
}

.oa-btn-link {
    background: none;
    font: inherit;
}

.oa-inline-btn-link {
    padding: 0;
    margin-top: -3px;
}

.oa-home-container {
    padding: 0 190px;
}

.oa-content-banner-container {
    max-width: 635px;
}

.oa-content-container {
    max-width: 822px;
}

.oa-home-section .oa-btn-upload {
    margin-top: 25px;
}

.oa-content-banner {
    margin: 0;
    padding: 27px 0;
    text-align: center;
}

.oa-content-banner h2 {
    font-weight: normal;
    font-size: 52px;
}

.oa-content-banner p,
.oa-content-banner ul {
    font-size: 22px;
    margin: 24px 0;
}

.oa-form-section {
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.oa-form-section:last-child {
    border-bottom: none;
}

.oa-home-section {
    text-align: center;
}

.oa-home-section,
.oa-content-section {
    padding: 50px 0 56px 0;
}

.oa-section a,
.oa-section p,
.oa-section ul {
    font-size: 22px;
}

.oa-section p,
.oa-section ul {
    margin: 30px 0 0 0;
}

.oa-section.oa-form-section p {
    margin: 30px 0;
}

.oa-section header + p,
.oa-section header + ul {
    margin: 7px 0 0 0;
}

.oa-section strong {
    font-weight: normal;
}

.oa-section h3,
.oa-section h4 {
    font-weight: 700;
}

.oa-section h3 {
    font-size: 36px;
    margin: 0 0 10px 0;
}

.oa-section h4 {
    font-size: 24px;
    margin: 50px 0 18px 0;
}

.oa-section img {
    padding: 20px;
}

.oa-form label {
    font-size: 22px;
}

.oa-form .form-group {
    margin-top: 35px;
    margin-bottom: 35px;
}

.oa-form input[type="text"],
.oa-form input[type="email"],
.oa-form textarea {
    border-radius: 0;
    font-size: 21px;
    border-style: solid;
    border-width: 1px;
}

.oa-form input[type="text"],
.oa-form input[type="email"] {
    height: 51px;
    padding: 0 8px;
}

.oa-form textarea {
    padding: 20px;
}

.oa-fileinfo {
    padding: 48px 0;
    border-top-style: solid;
    border-top-width: 1px;
}

.oa-fileinfo .container {
    background: url('/avocet/images/background-myuploads.png') no-repeat left center;
    padding-left: 130px;
    min-height: 115px;
}

.oa-fileinfo p {
    font-size: 22px;
}

.oa-publicationinfo {
    margin: 0;
    padding: 23px 0;
}

.oa-publicationinfo p {
    margin: 0;
}

.oa-modal {
    padding-top: 20px;
    width: 900px;
}

.oa-modal-content {
    border-radius: 3px;
    -webkit-box-shadow: 6px 6px 49px rgba(0, 0, 0, .5);
            box-shadow: 6px 6px 49px rgba(0, 0, 0, .5);
}

.oa-modal-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 3px 3px 0 0;
    padding: 38px 27px 32px 97px;
}

.oa-modal-header button i {
    font-size: 40px;
}

.oa-modal-footer {
    border-top-style: solid;
    border-top-width: 4px;
}

.oa-modal-header h4 {
    font-size: 28px;
}

.oa-modal-body {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 4px;
    padding: 29px 96px;
}

.oa-modal-body h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 17px 0 27px 0;
}

.oa-modal-body p,
.oa-modal-body a {
    font-size: 20px;
}

.oa-modal-body p {
    line-height: 1.4em;
    margin-bottom: 29px;
}

.oa-modal-footer {
    border-radius: 0 0 3px 3px;
    padding: 25px 95px;
}

.oa-icon-normal {
    font-size: 1em;
}
