<div class="container">
  <header class="page-header">
    <h2>Can we have some more details?</h2>
  </header>

  <section class="well oa-details-form-heading">
    <div class="row">
      <div class="col-sm-6">
        <div class="oa-details-form-heading-icon pull-left">
          <span class="oa-article-icon glyphicon glyphicon-file"></span>
        </div>
        <dl>
          <dt>MyArticle.pdf</dt>
          <dd>5MB</dd>
          <dd><button class="btn btn-primary">Preview</button></dd>
        </dl>
      </div>
      <div class="col-sm-6">
        <p>
          Not the right file?<br>
          <a href="#" data-page="index" class="btn btn-default">Start over</a>
        </p>
      </div>
    </div>
  </section>

  <form class="form-horizontal oa-details-form panel-group" role="form">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Basic information</h3>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">Title</label>
          <div class="col-sm-10">
            <textarea class="form-control input-block-level" name="xxx" rows="3"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="xxx">Are you the author?</label>
          <div class="col-sm-10">
            <label class="radio radio-inline">
              <input type="radio" name="xxx" value="true">Yes
            </label>
            <label class="radio radio-inline">
              <input type="radio" name="xxx" value="false">No
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">Authors</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="xxx" placeholder="Separate authors with commas">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">Department</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="xxx" placeholder="Start typing&hellip;">
          </div>
        </div>
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">Journal and funders</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">Journal</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="xxx" placeholder="Start typing&hellip;">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">Funders</label>
          <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="xxx">
                Proin consectetur sagittis
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" value="xxx">
                Mi vitae volutpat ipsum
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" value="xxx">
                Cras nec neque egestas
              </label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="xxx">
                Fusce sagittis
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" value="xxx">
                Vestibulum eu ligula
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" value="xxx">
                Other
                <input class="form-control" type="text" name="xxx" placeholder="">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">Embargo</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">Acceptance date</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="xxx" placeholder="DD/MM/YYYY">
          </div>
          <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="xxx">
                Not Sure
              </label>
            </div>
            <a href="http://devnull-as-a-service.com/dev/null">Find out more info!</a>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">Embargoed?</label>
          <div class="col-sm-7">

            <label class="radio radio-inline">
              <input type="radio" name="xxx" value="true">Yes
            </label>
            <label class="radio radio-inline">
              <input type="radio" name="xxx" value="false">No
            </label>

          </div>
          <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="xxx">
                Not Sure
              </label>
            </div>
            <a href="http://devnull-as-a-service.com/dev/null">Find out more info!</a>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">Embargoed until</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="xxx" placeholder="DD/MM/YYYY">
          </div>
        </div>
      </div>


      <div class="panel-heading">
        <h3 class="panel-title">Please confirm your contact details</h3>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">Email</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="xxx" placeholder="crsid@cam.ac.uk">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">Phone</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="xxx" placeholder="123456">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPassword">I prefer contact by</label>
          <div class="col-sm-10">

            <label class="radio radio-inline">
              <input type="radio" name="xxx" value="email">Email
            </label>
            <label class="radio radio-inline">
              <input type="radio" name="xxx" value="dogandbone">Phone
            </label>

          </div>
        </div>
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">A note on APC</h3>
      </div>

      <div class="panel-body">
        <p>Sometimes you might need to pay an APC. If so we'll let you know.</p>
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">We will contact you in 5 days</h3>
      </div>

      <div class="panel-body">
        <p>Duis in accumsan sapien, mattis tempor arcu. Sed nulla arcu, imperdiet vel arcu id, condimentum pulvinar purus. Nulla dignissim risus sed massa gravida molestie. Morbi in volutpat mauris.</p>
      </div>

      <div class="panel-footer clearfix">
        <button type="submit" data-page="thanks" class="pull-right btn btn-primary btn-lg">Submit <span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>

  </form>
</div>
